.game-canvas {
    border: 2px solid #ffffff;
    margin: 0 auto;
    display: block;
}

h3.player {
    color: #ffffff;
    width: 500px;
    margin: 20px auto;
    text-align: left;
}

h3.player-two {
    text-align: right;
}