.login-component {
    margin: 200px auto 0;
    display: block;
    width: 320px;
}

.login-form__user {
    font-family: 'Lucida Console', Monaco, monospace;
    border: none;
    background: #000000;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    padding: 10px;
    width: 300px;
    text-align: center;
    font-size: 22px;
}

.login-form__user:focus {
    outline: none;
}